body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #eaeaf9;
}

header {
    top: -150px;
    left: -497px;
    position: absolute;
    width: 100%;
    text-align: left;
}

.container {
    background-color: rgba(183, 202, 249, 0.8);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 450px;
}

.container h1 {
    margin-bottom: 20px;
}

.container input {
    display: block;
    width: 260px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.container button {
    background-color: #0000ff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.container button:hover {
    background-color: #0000cc;
}

.logo {
    display: block;
    margin: 0 auto 20px;
}
