

body {
    background-image: url('../images/autolink-lobby-img.png');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eaeaf9;
    overflow-x: auto;
    display: flex;
}

.ongoing-services-tag {
    width: 70px;
    height: 30px;
    background-color: #eaeaf9;
    border: 1px solid hwb(240 2% 28%);
    margin: 20px;
    padding: 10px;
    border-radius: 55%;
    text-align: center;
    line-height: -40px;
    font-size: 13px;
}

.queue-list-tag {
    width: 50px;
    height: 15px;
    background-color: #eaeaf9;
    border: 1px solid hwb(240 2% 28%);
    margin: 20px;
    padding: 10px;
    border-radius: 55%;
    text-align: center;
    line-height: -40px;
    font-size: 14px;
}


.sidebar {
    top: 50px;
    width: 250px;
    height: 100vh;
    background-color: hwb(240 2% 28%);
    padding-top: 20px;
    position: relative;
    animation: slideIn 0.8s forwards;
    transition: width 0.8s ease;
    z-index: 0;
    overflow-y: auto;
}

.sidebar.minimized {
    width: 50px;
    transition: width 0.8s ease;
}

.sidebar a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: rgb(249, 254, 255);
    font-size: 18px;
    opacity: 0;
    animation: fadeIn 0.5s forwards 0.5s;
    margin-top: 20px;
}

.sidebar-button {
    margin-bottom: 20px;
    position: relative;
    top: 5px;
    height: 50px;
    padding: 0;
    border: none;
    background: none;
    width: 100%;
}

.minimize-button {
    position: absolute;
    width: 53px;
    height: 40px;
    top: 50px;
    left: -5px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    z-index: 1;
}

.minimize-button-img {
    width: 60px;
    height: 35px;
    display: block;
}

.maximize-button-img {
    width: 75px;
    height: 40px;
    top: 1px;
    left: -7px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    z-index: 1;
    position: absolute;
}

.sidebar.minimized .minimize-button-img {
    display: none;
}

.sidebar.minimized .maximized-button-img {
    left: -10px;
    display: block;
}



.sidebar.minimized {
    width: 50px;
}

.sidebar.minimized a {
    display: none;
}

.sidebar .active:hover {
    background-color: #93aef9;
}

.sidebar .about-button:hover {
    background-color: #93aef9;
}

.sidebar .addnew-button:hover {
    background-color: #93aef9;
}

.sidebar .clients-button:hover {
    background-color: #93aef9;
}

.sidebar .active {
    font-weight: bold;
    display: block;
}



.sidebar .logout {
    position: absolute;
    bottom: 100px;
    left: -20px;
}

.logout-button {
    width: 10px;
    height: 10px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.logout-button-img {
    width: 100px;
    height: 60px;
}

.sidebar .logout-button-img:hover {
    color: transparent;
}

.toggle-button {
    position: absolute;
    left: 20px;
    top: 15px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.button-image {
    width: 50px;
    height: auto;
}

.button-image-clicked {
    width:50px;
    height: auto;
    display: none;
}

.content::-webkit-scrollbar {
    display: none;
}

.content {
    margin-left: 20px;
    overflow: auto;
    scrollbar-width: none;
    padding: 20px;
    height: 100vh;
    width: 100%;
    transition: transform 0.5s ease;
    flex-grow: 1;
}

.header {
    width: 100%;
    top: 0;
    left:0;
    background-color: hwb(240 2% 28%);
    color: white;
    padding: 10px;
    text-align: center;
    opacity: 0;
    animation: fadeIn 0.5s forwards 1s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    border-radius: 0 0 10px 10px;
}

.logo {
    right: -35px;
    width: 300px; /* Adjust this value to the size you want */
    height: auto;
    animation: rotateIn 1s forwards;
    position: absolute;
}

.stats {
    align-items: center;
    height: 30%;
    margin: 20x 0;
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    opacity: 0;
    animation: fadeIn 0.5s forwards 1.5s;
}

.stat-box {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px; /* Decrease this value to make the boxes smaller */
    height: 120px; /* Decrease this value to make the boxes smaller */
    transition: transform 0.3s;
    border: 5px solid hwb(240 2% 28%);
}
.stat-box h2{
    color: rgb(27, 193, 33);
    text-align: center;
    font-size: 30px;
}

.stat-box p{
    text-align: center;
    color: rgb(41, 35, 39);
    font-size: 20px;
}

.stat-box:hover {
    transform: scale(1.1);
}

.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    background-color: white;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid hwb(240 2% 28%);
    padding: 10px;
    text-align: left;
}


th {
    background-color: hwb(240 2% 28%);
    color: white;
}


select {
    width: 100%;
    padding: 5px;
}

@keyframes slideIn {
    to {
        left: 0;
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes rotateIn {
    from {
        transform: rotate(-360deg);
    }
    to {
        transform: rotate(0);
    }
}


.add-client-container {
    margin-top: 20px;
    text-align: center;
}

.add-client-container h2 {
    margin-bottom: 10px;
}

.add-client-container form {
    display: inline-block;
}

.add-client-container input {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.add-client-container button {
    padding: 10px 20px;
    background-color: #0000ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-client-container button:hover {
    background-color: #0000cc;
}
