body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #eaeaf9;
}

header {
    top: -150px;
    left: -150px;
    position: absolute;
    width: 100%;
    text-align: left;
}

.registration-container {
    background-color: #b3c7f9; /* Adjust the background color if needed */
    padding: 60px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 800px; /* Increase the width to make the container larger */
}


.header h1 {
    flex-grow: 1;
    margin-left: 20px;
    font-size: 24px;
    text-align: center;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 48%; /* Adjust the width as needed */
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #0000ff;
    color: white;
    padding: 15px 30px; /* Increase padding for the button */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
    font-size: 18px; /* Increase font size for the button */
}

button:hover {
    background-color: #0000cc;
}
