body {
    background-image: url('../images/autolink-lobby-img.png');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eaeaf9;
    overflow-x: hidden;
    height: 100vh;
    display: flex;
}

.sidebar {
    top: 50px;
    width: 250px;
    height: 100%;
    background-color: hwb(240 2% 28%);
    padding-top: 20px;
    position: relative;
    animation: slideIn 0.8s forwards;
    transition: width 0.8s ease;
    z-index: 0;
}

.sidebar.minimized {
    width: 50px;
    transition: width 0.8s ease; /* Add this line */
}

.sidebar a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: rgb(249, 254, 255);
    font-size: 18px;
    opacity: 0;
    animation: fadeIn 0.5s forwards 0.5s;
    margin-top: 20px;
}

.sidebar-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
}

.sidebar-button {
    margin-bottom: 20px;
    position: relative;
    top: 5px;
    height: 50px;
    padding: 0;
    border: none;
    background: none;
    width: 100%;
}

.minimize-button {
    position: absolute;
    top: 55px;
    left: 100px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    z-index: 1;
}


.minimize-button-img {
    width: 70px;
    height: 35px;
    display: block;
}

.maximize-button-img {
    width: 70px;
    height: 35px;
    display: none;
}

.sidebar.minimized .minimize-button-img {
    display: none;
}

.sidebar.minimized .m-button-img {
    display: block;
}



.sidebar.minimized {
    width: 50px;
}

.sidebar.minimized a {
    display: none;
}

.sidebar .active:hover {
    background-color: #93aef9;
}

.sidebar .sales-report-button:hover {
    background-color: #93aef9;
}

.sidebar .appointments-button:hover {
    background-color: #93aef9;
}

.sidebar .units-button:hover {
    background-color: #93aef9;
}

.sidebar .clients-button:hover {
    background-color: #93aef9;
}

.sidebar .active {
    font-weight: bold;
    display: block;
}



.sidebar .logout {
    position: absolute;
    bottom: 55px;
    left: -20px;
}

.logout-button {
    width: 10px;
    height: 10px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.logout-button-img {
    width: 100px;
    height: 60px;
}

.sidebar .logout-button-img:hover {
    color: transparent;
}

.toggle-button {
    position: absolute;
    left: 20px;
    top: 15px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.button-image {
    width: 50px;
    height: auto;
}

.button-image-clicked {
    width:50px;
    height: auto;
    display: none;
}

.content::-webkit-scrollbar {
    display: none;
}

.content {
    margin-left: 20px;
    overflow: auto;
    scrollbar-width: none;
    padding: 20px;
    height: 100vh;
    width: 100%;
    transition: transform 0.5s ease;
    flex-grow: 1;
}

.header {
    width: 100%;
    top: 0;
    left:0;
    background-color: hwb(240 2% 28%);
    color: white;
    padding: 10px;
    text-align: center;
    opacity: 0;
    animation: fadeIn 0.5s forwards 1s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    border-radius: 0 0 10px 10px;
}

.logo {
    right: -35px;
    width: 300px; /* Adjust this value to the size you want */
    height: auto;
    animation: rotateIn 1s forwards;
    position: absolute;
}

.stats {
    align-items: center;
    height: 30%;
    margin: 20x 0;
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    opacity: 0;
    animation: fadeIn 0.5s forwards 1.5s;
}

.stat-box {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100px; /* Decrease this value to make the boxes smaller */
    transition: transform 0.3s;
}

.stat-box:hover {
    transform: scale(1.1);
}

.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    background-color: white;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: hwb(240 2% 28%);
    color: white;
    border-radius: 10px 10px 0 0;
}

select {
    width: 100%;
    padding: 5px;
}

@keyframes slideIn {
    to {
        left: 0;
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes rotateIn {
    from {
        transform: rotate(-360deg);
    }
    to {
        transform: rotate(0);
    }
}
